html {
  background : #1c1a18;
     }
menu {
     } 
a {
  font: 1.5em "Fira Sans", sans-serif;
  color : #5076ce;
  background-color: #1f2023;
  }
.Title {
  color : #5076ce;
  font: 1.5em "Fira Sans", sans-serif;
  border : solid thin black;
  background-color: #2a2c30;
  padding: 1em;
  display: flex;
  flex-direction: column;
       }
.List {

      }
