html {
  background : #1c1a18;
     }

a {
  font: 1.5em "Fira Sans", sans-serif;
  color : #5076ce;
  background-color: #1f2023;
  }
.Title {
  color : #5076ce;
  font: 1.5em "Fira Sans", sans-serif;
  border : solid thin black;
  background-color: #2a2c30;
  padding: 1em;
  display: flex;
  flex-direction: column;
       }
.List {
  list-style-type: none;
  display: flex;
  padding: 2px;
  margin-bottom: 0;
  gap: 1.5em;
  border: solid white;
  outline: none;           
  box-shadow: none;
  font : 1em "Fira Sans", sans-serif;
  color : black;
      }
