html {
  background : #1c1a18;
     }
.Title {
  color : #5076ce;
  font: 1.5em "Fira Sans", sans-serif;
  border : solid thin black;
  background-color: #2a2c30;
  padding: 1em;
  display: flex;
  flex-direction: column;
       }
.List {
  list-style-type: none;
  display: flex;
  padding: 1em;
  margin-tom: 0.5em;
  gap: 1.5em;
  border: solid thin black;
  outline: none;           
  box-shadow: none;
  font : 1.5em "Fira Sans", sans-serif;
  color : #1f2023;
      }
