html {
  background : #1c1a18;
     }
menu {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;
  gap: 1.5em;
     } 
a {
  font: 1.5em "Fira Sans", sans-serif;
  color : #5076ce;
  }
.Title {
  color : #5076ce;
  font: 1.5em "Fira Sans", sans-serif;
  border : solid thin black;
  background-color: #2a2c30;
  padding: 1em;
  display: flex;
  flex-direction: column;
       }
.List {
  background-color: #1f2023;
  padding: 1em;
  border: solid thin black; 
      }
