html {
  background : #1c1a18;
     }
menu {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;
  gap: 1em;
}
.Title {
  color : #5076ce;
  font: 1.5em "Fira Sans", sans-serif;
  border : 5px #2b2d33;
  background-color: #2a2c30;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
     }
.List {
  background-color: bisque;
  padding: 1em;
  border: solid thin black; 
      }
